/* This file is for your main application css. */

@import "./phoenix.css";

body {
  margin: 0;
  background-color: #f7f7f7;
}

.support {
  border: 1px solid;
  margin: 2px;
  min-height: 500px;
  max-width: 50%;
}

#code-output {
  padding: 5px;
}

.hidden {
  display: none;
}

button.disabled {
  background-color: #606c76;
  border-color: #606c76;
  cursor: default;
}


button#format-button.disabled {
  background-color: inherit;
  border-color: #606c76;
  color: #606c76;
  cursor: default;
}

.vm-version {
  margin: auto 10px;
}

.top-header {
  background-color: #373f52;
  padding: 2px 5px;
  font-family: Lato,sans-serif;
}

.top-header a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin: 0;
  padding: 0;
  max-width: 230px;
  word-wrap: break-word;
}

.vm-version-wrapper {
  display: inline-block;
  border: 0.1rem solid #d1d1d1;
  font-size: 14px;
  padding: 0 0 0 5px;
  height: 3.8rem;
  border-radius: .4rem;
}

.vm-version-wrapper select {
  border:none;
}

.top-buttons-wrapper {
  margin: 2px 20px;
}

pre {
  border-left: 3px solid #9768d1;
}
