/* This file is for your main application css. */

@import "./phoenix.css";

body {
  margin: 0;
}

.support {
  border: 1px solid;
  margin: 2px;
  min-height: 500px;
}

#code-output {
  padding: 5px;
}

.hidden {
  display: none;
}

#run-button {
  margin: 2px 10px;
}

button.disabled {
  background-color: #606c76;
  border-color: #606c76;
  cursor: default;
}

.vm-version {
  margin: auto 10px;
}

.top-header {
  background-color: #373f52;
  padding: 2px 5px;
  font-family: Lato,sans-serif;
}

.top-header a {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  margin: 0;
  padding: 0;
  max-width: 230px;
  word-wrap: break-word;
}

pre {
  border-left: 3px solid #9768d1;
}
